<div class="modern-layout">

    <aside class="sidebar-history">
        <shared-sidebar></shared-sidebar>
    </aside>

    <main class="main-content">

        <header class="header-futuristic">
            <button class="btn-create-gif-top" (click)="openEditor()">
                <span class="icon">🚀</span>
                <span class="text">Crear GIF</span>
                <div class="btn-glow"></div>
            </button>

            <div class="search-right">
                <gifs-search-box></gifs-search-box>
            </div>
        </header>

        <section class="gifs-viewport">
            <h3 class="section-label">Explorar Gifs</h3>
            <gifs-card-list></gifs-card-list>
        </section>

    </main>

    <app-gifs-editor></app-gifs-editor>
</div>