<div class="results-grid">

    <div *ngFor="let gif of gifs" class="gif-card">

        <div class="image-container">
            <img [src]="gif.images.downsized_medium.url" [alt]="gif.title" class="gif-img" loading="lazy"> <button
                class="download-overlay" (click)="onDownloadGif(gif.images.original.url, gif.title)"
                title="Descargar GIF">
                <span class="download-icon">⬇️</span>
            </button>
        </div>

        <div class="gif-footer">
            <p class="gif-title">{{ gif.title || 'Giphy Result' }}</p>
            <div class="gif-badge">Daniel Alberto</div>
        </div>

    </div>
</div>